<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sandbox.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sandbox.email %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @sandbox.mensagem %>
</p>

<%= link_to 'Edit', edit_sandbox_path(@sandbox) %> |
<%= link_to 'Back', sandboxes_path %>
